/* Hero Section */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.f_poppins {
    font-family: 'Poppins', sans-serif !important;
}
/* Section Common Style */
section {
    position: relative;
    background: var(--white-color);
    z-index: 10;
}
.section-title {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -1.8px;
    text-align: center;
}
.section-title.f_poppins {
    font-weight: 700;
}
.section-desc {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.6px;
    margin-top: 20px;
}
.section-desc span {
    opacity: 0.6;
}
.section-title *,
.section-desc * {
    color: inherit;
}
.main-btn {
    display: inline-flex;
    height: 60px;
    min-width: 140px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.72;
    letter-spacing: -0.36px;
    border-radius: 8px;
    background: #000;
}
br,
br.both {
    display: block;
}
.mo-br {
    display: none;
}
/* #hero-section */
.hero-section {
    background: var(--white-color);
    height: 380vh;
    padding: 0;
    z-index: 0;
}

.hero-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.hero-bg.mobile-hero-bg {
    display: none;
}

.hero-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.hero-title {
    position: absolute;
    font-size: 3rem;
    white-space: nowrap;
    color: #0b0b0b;
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -3px;
    z-index: 1;
    opacity: 0;
    transform: translateY(100px);
    transition: none;
    will-change: transform, opacity;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform-origin: center center;
    backface-visibility: hidden;
}

.hero-btn-wrap {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 2.875rem;
    height: 1.688rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero-btn-wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* #sub-banner-section */
.sub-banner-section {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--black-color);
    z-index: 2;
}

.sub-banner-section .sub-banner-inner {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 8.75rem 0 11.25rem;
}

.sub-banner-section .sub-banner-inner > video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-banner-section .sub-banner-inner > video.mobile-sub-banner-video {
    display: none;
}

.sub-banner-section .sub-banner-inner > ul {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-banner-section .sub-banner-inner > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-banner-section .sub-banner-inner > ul > li.column {
    flex-direction: column;
    gap: 0.75rem;
}

.sub-banner-section .sub-banner-inner > ul > li:nth-child(3) {
    width: 100%;
    max-width: 794px;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5rem;
}

.sub-banner-section .sub-banner-inner > ul > li > h2 {
    display: flex;
    flex-direction: column;
}

.sub-banner-section .sub-banner-inner .section-title *,
.sub-banner-section .sub-banner-inner .section-desc {
    color: var(--white-color);
}

.sub-banner-section .sub-banner-inner > ul > li .count-up {
    position: relative;
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 0 3.063rem;
}

.sub-banner-section .sub-banner-inner > ul > li .count-up.smallflex .rolling-number.count-item-2 .countup-digit-container:nth-child(2) {
    margin-left: -0.95rem;
}

.sub-banner-section .sub-banner-inner > ul > li .count-up > span {
    position: relative;
    color: #ff0000;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.045rem;
    text-align: center;
    z-index: 1;
}

.sub-banner-section .sub-banner-inner > ul > li .count-up .rolling-number {
    position: relative;
    display: flex;
    color: var(--white-color);
    font-size: 12.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: var(--letter-spacing-md);
    align-items: flex-start;
    justify-content: center;
    height: 180px;
    overflow: hidden;
}
.sub-banner-section .sub-banner-inner > ul > li .count-up::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 12%;
    background: linear-gradient(180deg, rgba(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}
.sub-banner-section .sub-banner-inner > ul > li .count-up::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0) 75%);
    z-index: 1;
}
.sub-banner-section .sub-banner-inner > ul > li .count-up .rolling-number span {
    display: block;
    color: var(--white-color);
    font-size: 11.25rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.563rem;
    transition: transform 2s cubic-bezier(0.33, 1, 0.68, 1);
    white-space: nowrap;
    text-align: center;
}
.sub-banner-section .sub-banner-inner > ul > li .count-up .countup-digit-container {
    height: 11.25rem;
    overflow: hidden;
    position: relative;
}

.sub-banner-section .sub-banner-inner > ul > li .count-up .countup-digit {
    display: flex;
    flex-direction: column;
    transition: transform 1s cubic-bezier(0.33, 1, 0.68, 1);
    /* will-change: transform; */
}

/* #parallax-section */
.parallax-section {
    position: relative;
    width: 100%;
    z-index: 11;
}

.parallax-inner {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: visible;
    background: url('/resource/images/ai/k-value-bg.png') no-repeat calc(100% - 3.23%) 100%;
}

.parallax-container {
    position: relative;
    width: 100%;
    z-index: 1;
}

.parallax-titles {
    position: relative;
    left: 13.96%;
    padding: 11.25rem 0 46.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}
.parallax-titles ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}

.parallax-titles [class*='subtitle'] {
    color: #0b0b0b;
    font-size: 6.25rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.188rem;
}

.parallax-description {
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.4;
    letter-spacing: -0.06rem;
    transition: color 0.3s;
}

.parallax-description span {
    color: #d5d5d5;
}

.parallax-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.parallax-images img {
    position: absolute;
    height: auto;
}

/* 각 이미지의 위치 (Tailwind의 top, left, right, bottom 변환) */
.image-obj-0 {
    width: 25rem;
    top: -2.7%;
    right: 13.96%;
    z-index: 10;
}

.image-obj-1 {
    width: 20.063rem;
    top: 77%;
    left: 9.48%;
}

.image-obj-2 {
    width: 27.5rem;
    height: auto;
    bottom: -3%;
    right: 0%;
}

/* philosophy-section */
.philosophy-section {
    position: relative;
    background: #fafafb;
}
.philosophy-section .philosophy-inner {
    padding: 11.25rem 0 8.75rem;
    width: 100%;
    max-width: 86.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.philosophy-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.25rem;
}
.philosophy-cont li {
    width: 100%;
    display: flex;
    padding: 32px 40px 60px 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background: #fff;
}
.philosophy-cont .num {
    color: #f00;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%; /* 60px */
    letter-spacing: -0.8px;
    opacity: 0.8;
}
.philosophy-cont h3 {
    margin-top: 100px;
    color: #0b0b0b;
    font-size: 36px;
    font-weight: 700;
    line-height: 130%; /* 46.8px */
    letter-spacing: -1.08px;
}
.philosophy-cont p {
    margin-top: 40px;
    color: #0b0b0b;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
}
.philosophy-cont p strong {
    display: block;
    margin-bottom: 12px;
    color: #0b0b0b;
    font-size: 20px;
    font-weight: 800;
    line-height: 150%; /* 30px */
    letter-spacing: -0.4px;
}
/* ParallaxDepthSection Styles */
.parallax-depth-section {
    width: 100%;
    color: var(--white-color);
    position: relative;
    background: #000;
}

.component-inner {
    width: 100%;
    max-width: 1147px;
    margin: 0 auto;
    padding: 8.75rem 0;
}

.component-title .section-title,
.component-title .section-desc {
    color: var(--white-color);
}

.component-content {
    position: relative;
    padding-top: 110px;
    display: flex;
    align-items: flex-start;
}
.component-scrollbar {
    position: sticky;
    width: 4px;
    height: 240px;
    background: #2e2e2e;
    margin-top: 170px;
    top: 280px;
    opacity: 0;
    transition: opacity 1s;
}
.component-scrollbar span {
    display: block;
    width: 100%;
    height: 14%;
    background: #f00;
    position: absolute;
    top: 0;
    transition: top 0.2s;
}
.component-scrollbar span.slide-1 {
    top: calc(14% * 1);
}
.component-scrollbar span.slide-2 {
    top: calc(14% * 2);
}
.component-scrollbar span.slide-3 {
    top: calc(14% * 3);
}
.component-scrollbar span.slide-4 {
    top: calc(14% * 4);
}
.component-scrollbar span.slide-5 {
    top: calc(14% * 5);
}
.component-scrollbar span.slide-6 {
    top: calc(100% - 14%);
}
.list-wrap {
    opacity: 0;
    width: 420px;
    margin: 155px 150px 0 77px;
    pointer-events: none;
    transition: opacity 1s;
}

.list-wrap ul {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.list-wrap .component-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.2;
    transition: opacity 0.8s;
    min-height: 255px;
}
.list-wrap .component-item.active {
    opacity: 1;
}

.list-wrap .component-item > h3 {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    height: 29px;
    gap: 20px;
}
.list-wrap .component-item .k-logo {
    width: auto;
    height: 19px;
}
.list-wrap .component-item[data-item='4'] .k-logo,
.list-wrap .component-item[data-item='0'] .k-logo {
    height: 24px;
}

.list-wrap .component-item > h3 > em {
    display: block;
    font-family: Pretendard;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: var(--line-height-150);
    letter-spacing: -0.4px;
    color: #a5a5a5;
    /* padding-bottom: 0.5rem; */
    /* margin-left: 0.5rem; */
    white-space: nowrap;
}

.list-wrap .component-item > h3 > span + em {
    color: #a5a5a5;
    font-family: Pretendard;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 150%;
    letter-spacing: -0.4px;
    white-space: nowrap;
}

.list-wrap .component-item > p {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: -0.64px;
}
.list-wrap .component-item > span {
    display: block;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.32px;
}

.list-wrap .component-item > h3 > em {
    display: flex;
    height: 32px;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #282828;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.28px;
}

.list-wrap .component-item > a {
    display: inline-flex;
    height: 48px;
    min-width: 120px;
    padding: 9px 24px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.48px;
}
.component-section.init .component-scrollbar,
.component-section.init .list-wrap {
    opacity: 1;
    pointer-events: auto;
}
.component-section.init .cube-wrapper .cube {
    transform: translateX(0%);
    transition: transform 1s;
}
.cube-wrapper {
    width: 500px;
    height: 577px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 220px;
}
.cube-wrapper .cube {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateX(-68%);
}
.cube-wrapper .cube:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 517px;
    top: 50%;
    background: url('/resource/images/ai/k-cube/cube-shadow.png') no-repeat 0 0;
    background-size: 100% auto;
}

.cube-item {
    width: 100%;
    position: absolute;
    opacity: 0;
}
.cube-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    opacity: 0;
}
.cube-item.active::after {
    opacity: 1;
}
.cube-item.active img {
    opacity: 0;
}
.cube-item img {
    width: 100%;
    height: auto;
    opacity: 1;
}
.cube-item-1 {
    bottom: 0;
    z-index: 1;
}
.cube-item-2 {
    bottom: 12.3%;
    z-index: 2;
}
.cube-item-3 {
    bottom: 24.8%;
    left: 0;
    z-index: 3;
}
.cube-item-4 {
    width: calc(100% / 2);
    bottom: 49.5%;
    left: 12.5%;
    z-index: 4;
}
.cube-item-5 {
    width: calc(100% / 2);
    bottom: 43.3%;
    left: 24.9%;
    z-index: 5;
}
.cube-item-6 {
    width: calc(100% / 2);
    bottom: 37.1%;
    left: 37.42%;
    z-index: 6;
}
.cube-item-1:after {
    background-image: url('/resource/images/ai/k-cube/k-infra-act.png');
}
.cube-item-2:after {
    background-image: url('/resource/images/ai/k-cube/k-rai-act.png');
}
.cube-item-3:after {
    background-image: url('/resource/images/ai/k-cube/k-studio-act.png');
}
.cube-item-4:after {
    background-image: url('/resource/images/ai/k-cube/k-agent-act.png');
}
.cube-item-5:after {
    background-image: url('/resource/images/ai/k-cube/k-rag-act.png');
}
.cube-item-6:after {
    background-image: url('/resource/images/ai/k-cube/k-model-act.png');
}

.cube-last-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube-last-text > img {
    display: none;
}

.cube-last-text ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.cube-last-text ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.313rem;
    color: var(--white-color);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: var(--line-height-150);
    letter-spacing: var(--letter-spacing-base);
}

.cube-last-text ul li img {
    width: 43.625rem;
    height: 8.313rem;
    margin-top: -1.4rem;
}

.cube-last-text ul li span {
    color: var(--primary-color);
    font-size: 6.563rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: var(--letter-spacing-md);
}

/* K Quality Framework Section */
.kquality-section {
    position: relative;
    width: 100%;
    background: #fafafb;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.kquality-inner {
    max-width: 1384px;
    padding: 140px 0 180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kquality-hex-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 120px;
}

.kquality-hex {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 0 auto;
    background: none;
    box-sizing: content-box;
    padding: 38px 155px 22px;
}

.kquality-hex-center {
    width: 580px;
    height: 565px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1.6px;
    background: url(/resource/images/ai/k-quality-frame.svg) no-repeat center / 100% 100%;
}

.kquality-hex-item {
    position: absolute;
    display: flex;
    width: 240px;
    padding: 30px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 6px 8px 16px 0 rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(5px);
}

.kquality-hex-label {
    color: #0b0b0b;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.32px;
}

.kquality-hex-item-1 {
    left: calc(50% - 120px);
    top: 0;
}

.kquality-hex-item-2 {
    right: 0;
    top: 36%;
}

.kquality-hex-item-3 {
    right: 10%;
    bottom: 0;
}

.kquality-hex-item-4 {
    left: 10%;
    bottom: 0;
}

.kquality-hex-item-5 {
    left: 0;
    top: 36%;
}

.kquality-list {
    max-width: 1384px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 140px;
}

.kquality-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 40px;
    border-top: 1px solid #0b0b0b;
    padding: 32px 0;
    flex: 0 0 calc(100% / 2 - 30px);
}

.kquality-list-item:nth-child(n + 3) {
    margin-top: 80px;
}

.kquality-list-item h3 {
    min-width: 240px;
    color: #0b0b0b;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.64px;
}

.kquality-list-item p {
    width: calc(100% - 280px);
    color: rgba(11, 11, 11, 0.8);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.32px;
    box-sizing: border-box;
    padding-right: 32px;
}

.kquality-bottom {
    color: #0b0b0b;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.64px;
}

/* KT ECO Section */
.eco-section {
    background: var(--white-color);
}

.eco-inner {
    width: 100%;
    max-width: 1384px;
    padding: 140px 0;
    margin: 0 auto;
}

.eco-top {
    display: flex;
    margin-top: 80px;
    padding: 60px 0 60px 60px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 12px;
    background: #fafafb;
}

.eco-title {
    min-width: 320px;
    color: #0b0b0b;
}
.eco-title strong {
    color: inherit;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: -0.64px;
}
.eco-title span {
    display: block;
    color: inherit;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.32px;
}

.eco-partners {
    display: flex;
    width: 100%;
    max-width: 960px;
}

.eco-partner-card {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}
.eco-partner-card:not(:first-child) {
    border-left: 1px solid #e2e2e2;
}

.eco-partner-logos {
    height: 120px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.eco-partner-desc {
    color: #0b0b0b;
    text-align: center;
}

.eco-partner-desc p {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.32px;
}
.eco-partner-desc span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.28px;
}

.eco-bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    align-items: stretch;
    margin-top: 20px;
}

.eco-bottom-card {
    display: flex;
    padding: 60px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 130px;
    flex: 1;
    border-radius: 12px;
    background: #fafafb;
}

.eco-bottom-badges {
    display: flex;
    width: 100%;
    align-items: center;
    align-self: center;
    gap: 12px;
}

.eco-badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1;
}
.eco-badge img {
    display: block;
    width: 60px;
    height: 60px;
}
.eco-badge em {
    font-size: 1.625rem;
    color: #5a64ff;
    line-height: 1.48;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.02em;
}

.eco-badge span {
    display: flex;
    height: 34px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    color: #0b0b0b;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.28px;
    opacity: 0.6;
}
.eco-font {
    display: flex;
    height: 106px;
    margin-right: 21px;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    position: relative;
}
.eco-font li {
    display: inline-block;
    position: relative;
}
.eco-font:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 24px;
    background: #d9d9d9;
    transform: translateY(-50%);
}

.eco-font li img {
    width: auto;
    height: 21px;
    object-fit: contain;
}

/* Use Case Swiper Section */
.usecase-section {
    background: var(--white-color);
}

.usecase-inner {
    padding: 140px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 80px 0;
    display: flex;
}

.custom-slider-track {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    animation: customSliderLoop 20s linear infinite;
}

.usecase-swiper {
    display: none;
}

@keyframes customSliderLoop {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.custom-slide {
    flex: 0 0 25.625rem;
    background: #fff;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
    overflow: hidden;
}

.custom-slide .img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.165rem;
    overflow: hidden;
}

.custom-slide img {
    vertical-align: top;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    transition: transform 0.3s ease-in-out;
}

.custom-slide:hover img {
    transform: scale(1.05);
}

.usecase-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.usecase-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.usecase-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 24px 0 0;
}

.usecase-labels {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
}

.usecase-label {
    display: flex;
    height: 32px;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #f2f2f6;
    color: rgba(11, 11, 11, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.28px;
}

.usecase-label.gray {
    color: #ff0000;
    background: rgba(255, 0, 0, 0.08);
}

.usecase-name {
    color: #0b0b0b;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.72px;
}

.usecase-desc {
    height: 48px;
    margin-top: 12px;
    color: #0b0b0b;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.usecase-btn {
    display: flex;
}

/* News Section */
.news-section {
    background: var(--white-color);
}

.news-inner {
    padding: 140px 0 200px;
    max-width: 86.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-list {
    width: 100%;
    max-width: 1384px;
    margin: 80px auto 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4;
}

.news-content {
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-top: 1px solid #e4e4e4;
}

.news-meta {
    color: rgba(11, 11, 11, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.32px;
    white-space: nowrap;
}
.news-title a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    color: #0b0b0b;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.48px;
    white-space: nowrap;
}

.news-title {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: calc(100% - 117px);
    flex-wrap: nowrap;
}

.hasNew .news-title:after {
    display: inline-block;
    content: '';
    width: 61px;
    height: 32px;
    margin-left: 12px;
    background: url('/resource/images/ai/icons/new-mark_pc.png') no-repeat 50% 50%;
    background-size: 100% auto;
}

.news-btn {
    margin-top: 40px;
}

/* K Data Section (Figma 반영) */
.kdata-section {
    position: relative;
    width: 100%;
    background: url('/resource/images/ai/kdata_bg.png') #fff no-repeat 0 100%;
    padding: 8.75rem 0 8.75rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.kdata-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kdata-icons-row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.kdata-icons-row:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18.75rem;
    height: 100%;
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.kdata-icons-row:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 18.75rem;
    height: 100%;
    background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.kdata-icon-group {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.kdata-icon-group.infinite-slide {
    animation: infiniteKdataSlide 10s linear infinite;
}
.kdata-icon-group img {
    width: 11.5rem;
    height: 3.5rem;
    object-fit: contain;
}

.kdata-logos-row {
    display: flex;
    gap: 80px;
    margin-top: 32px;
    justify-content: center;
}

.kdata-logo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.kdata-logo-item img {
    width: 180px;
    height: 40px;
    object-fit: contain;
}

.kdata-logo-label {
    font-size: 1.5rem;
    font-weight: 800;
    color: #b2b2b2;
    text-align: center;
}

@keyframes infiniteKdataSlide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50.78%);
    }
}

.custom-slider:hover .custom-slider-track {
    animation-play-state: paused;
}

.custom-slider:hover .custom-slider-track-reverse {
    animation-play-state: paused;
}

@media (min-width: 1366px) and (max-width: 1536px) {
    .list-wrap {
        margin-left: 3.4rem;
    }
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1384px) {
    /* 기준 1200px vw변환 */
    body > section {
        width: 100%;
        padding: 0 40px;
    }
    .hero-section {
        padding: 0 !important;
    }
}
/* 모바일 */
@media (max-width: 768px) {
    .open-planned {
        font-size: 1.3rem !important;
        height: 3rem !important;
        line-height: 3rem !important;
        margin-left: 0.8rem !important;
        padding: 0 1.2rem !important;
        border-radius: 1.5rem !important;
        white-space: nowrap !important;
    }

    br {
        display: none;
    }

    .mo-br {
        display: block;
    }

    .section-title {
        font-size: 4rem;
        line-height: 1;
        letter-spacing: var(--letter-spacing-md);
        margin-bottom: 2rem;
    }

    .section-subtitle,
    .section-desc {
        color: var(--gray-800-color);
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1.6;
        margin-bottom: 5rem;
    }

    .hero-bg {
        display: none;
    }

    .hero-bg.mobile-hero-bg {
        display: block;
    }

    .hero-btn-wrap {
        /* position: unset;
        transform: none; */
    }

    .hero-btn-wrap button {
        padding: 1.6rem 3.2rem;
        border-radius: 1rem;
        font-size: 1.7rem;
        font-weight: 700;
        line-height: var(--line-height-172);
        white-space: nowrap;
    }

    /* Sub Banner Section */
    .sub-banner-section .sub-banner-inner > ul {
        gap: 0;
    }

    .sub-banner-section .sub-banner-inner > ul > li {
        flex-direction: column;
        align-items: center;
    }

    .sub-banner-section .sub-banner-inner > ul > li:nth-child(3) {
        gap: 2rem;
    }

    .sub-banner-section .sub-banner-inner > ul > li.column {
        gap: 0;
    }

    .sub-banner-section .sub-banner-inner > ul > li h2 {
        gap: 0;
        margin-bottom: 2.8rem;
    }

    .sub-banner-section .sub-banner-inner > ul > li h2 span {
        display: inline;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: normal;
    }

    .sub-banner-section .sub-banner-inner > ul > li > p {
        color: var(--gray-600-color);
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: var(--letter-spacing-base);
        text-align: center;
    }

    .sub-banner-section .sub-banner-inner > ul > li > p:last-child {
        margin-bottom: 5rem;
    }

    .sub-banner-section .sub-banner-inner > ul > li .count-up {
        min-width: 18.7rem;
        max-width: 18.7rem;
        padding: 2.4rem 4rem;
        font-size: 10rem;
        align-items: center;
        gap: 1.2rem;
        border-radius: 2rem;
    }

    .sub-banner-section .sub-banner-inner > ul > li .count-up.smallflex {
        padding: 2.4rem 4.8rem 2.4rem 4rem;
    }

    .sub-banner-section .sub-banner-inner > ul > li .count-up .rolling-number > span {
        font-weight: 600;
        font-size: 10rem;
        line-height: 100%;
        letter-spacing: -2px;
        text-align: center;
        vertical-align: middle;
    }

    .sub-banner-section .sub-banner-inner > ul > li .count-up.smallflex > span {
        margin-left: 0.8rem;
        white-space: nowrap;
    }

    .sub-banner-section .sub-banner-inner > ul > li .count-up > span {
        padding: 0;
        font-size: 1.6rem;
        line-height: normal;
        letter-spacing: var(--letter-spacing-base);
    }

    .sub-banner-section
        .sub-banner-inner
        > ul
        > li
        .count-up
        .countup-digit
        span
        .sub-banner-section
        .sub-banner-inner
        > ul
        > li
        .count-up
        .rolling-number {
        display: flex;
        font-size: 10rem;
        line-height: normal;
        letter-spacing: var(--letter-spacing-md);
        width: auto;
        line-height: 1;
    }

    .sub-banner-section .sub-banner-inner > ul > li .count-up .countup-digit-container {
        height: 10rem;
    }

    .sub-banner-section .sub-banner-inner > ul > li .count-up .countup-digit span {
        font-size: 10rem;
        width: auto;
    }

    /* Parallax Section */
    .parallax-section .parallax-container {
        flex-direction: column;
        justify-content: center;
        gap: 2.8rem;
    }

    .parallax-section .parallax-container .parallax-description {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: var(--letter-spacing-base);
        margin: 0;
    }

    .parallax-section .parallax-container .parallax-titles {
        gap: 0.6rem;
    }

    .parallax-section .parallax-container .parallax-titles li {
        line-height: normal;
    }

    .parallax-section .parallax-container .parallax-titles li.subtitle3 {
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: var(--letter-spacing-md);
    }

    .parallax-section .parallax-container .parallax-titles li.subtitle2 {
        font-size: 6.7rem;
        font-weight: 800;
        letter-spacing: var(--letter-spacing-md);
    }

    .parallax-section .parallax-container .parallax-titles li.subtitle1 {
        font-size: 8.5rem;
        font-weight: 800;
        letter-spacing: var(--letter-spacing-md);
    }

    /* 개선1 */

    .parallax-section {
        transform: translateZ(0);
        will-change: transform;
    }

    .parallax-section .parallax-images img {
        will-change: transform, opacity;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        image-rendering: auto;
    }

    /* 개선1 */

    .parallax-section .parallax-images img:nth-child(1) {
        width: 15.8rem;
        height: 21.1rem;
        top: 160%;
        left: 5%;
    }

    .parallax-section .parallax-images img:nth-child(2) {
        width: 15.8rem;
        height: 21.3rem;
        top: 7.4%;
        left: 6%;
    }

    .parallax-section .parallax-images img:nth-child(3) {
        width: 15.8rem;
        height: 11.8rem;
        top: 131%;
        right: -11%;
    }

    .parallax-section .parallax-images img:nth-child(4) {
        width: 15.8rem;
        height: 22.1rem;
        top: 89.7%;
        left: -10.3%;
    }

    .parallax-section .parallax-images img:nth-child(5) {
        width: 15.8rem;
        height: 22.1rem;
        top: 48%;
        right: -4%;
    }

    /* Parallax Depth Section */
    .parallax-depth-section {
        height: 100%;
        overflow: hidden;
    }

    .component-title-inner {
        gap: 2rem;
    }

    .component-title h2 {
        font-size: 3.6rem;
        line-height: 1.3;
        letter-spacing: var(--letter-spacing-base);
    }

    .component-title p {
        color: var(--gray-600-color);
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: var(--letter-spacing-base);
    }

    .component-content {
        flex-direction: column;
    }

    .component-content-inner {
        flex-direction: column-reverse;
        height: 100%;
        overflow: hidden;
    }

    .list-wrap {
        display: none;
    }

    .mobile-pds-menu {
        display: block;
        width: 100%;
        overflow: hidden;
        margin-top: 5rem;
        padding: 0 2rem;
    }

    .mobile-pds-menu .swiper-slide {
        min-height: 27.4rem;
        width: 27.6rem;
        padding: 3.2rem;
        background: #181818;
        border-radius: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mobile-pds-menu .swiper-slide > div > h3 {
        margin-bottom: 2.4rem;
        position: relative;
        display: flex;
        align-items: baseline;
    }

    .mobile-pds-menu .swiper-slide > div > h3 > img {
        width: auto;
        height: 2.1rem;
        object-fit: contain;
        /* margin-top: -0.3rem; */
    }
    .mobile-pds-menu .swiper-slide:nth-child(3) > div > h3 {
        margin-bottom: 2rem;
    }
    .mobile-pds-menu .swiper-slide:nth-child(3) > div > h3 > img {
        height: 2.6rem;
    }

    .mobile-pds-menu .swiper-slide > div > h3 > span {
        color: var(--primary-color);
        font-size: 2.58rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: var(--letter-spacing-md);
        position: relative;
        width: fit-content;
        display: flex;
        align-items: center;
    }

    .mobile-pds-menu .swiper-slide > div > h3 > em {
        font-family: Pretendard;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 100%;
        letter-spacing: 0%;
        color: #a5a5a5;
        margin-left: 0.5rem;
        display: block;
        margin-top: 0.5rem;
    }

    .mobile-pds-menu .swiper-slide > div > p {
        color: var(--white-color);
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 150%;
        letter-spacing: 0%;
        white-space: nowrap;
    }

    .mobile-pds-menu .swiper-slide > div > span,
    .mobile-pds-menu .swiper-slide > div > span > em {
        color: #a5a5a5;
        font-family: Pretendard;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 150%;
        letter-spacing: 0%;
        margin-top: 1.6rem;
        display: block;
        white-space: nowrap;
    }

    .mobile-pds-menu .swiper-slide > div > span > em {
        font-size: 1.2rem;
        line-height: normal;
        margin-top: 0.8rem;
        font-weight: 500;
    }

    .mobile-pds-menu .swiper-slide > a {
        display: block;
        width: fit-content;
    }

    .mobile-pds-menu .swiper-slide .btn.main {
        background-color: transparent;
        padding: 0;
        font-family: Pretendard;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 100%;
        letter-spacing: 0%;
        color: #d9d9d9;
        position: absolute;
        top: 3.7rem;
        right: 2.4rem;
        display: flex;
        align-items: center;
    }

    .mobile-pds-menu .swiper-slide .btn.main img {
        display: block;
        width: 0.6rem;
        height: auto;
        margin-left: 0.6rem;
        margin-bottom: 2px;
    }

    .cube-wrapper {
        position: relative;
        max-width: none;
        width: 37.5rem;
        height: 26.5rem;
        transform: none;
        margin: 0 auto;
        left: 0;
        top: 0;
    }

    .cube-item.cube-item-1 {
        width: 24rem;
        height: 16.4rem;
        bottom: -0.8%;
    }

    .cube-item.cube-item-2 {
        width: 24rem;
        height: 16.4rem;
        bottom: 10.9%;
    }

    .cube-item.cube-item-3 {
        width: 24rem;
        height: 20.2rem;
        bottom: 23.5%;
    }

    .cube-item.cube-item-4 {
        width: 11.8rem;
        height: 9.8rem;
        bottom: 49.6%;
        left: 26.2%;
    }

    .cube-item.cube-item-5 {
        width: 11.8rem;
        height: 9.8rem;
        bottom: 42.9%;
        left: 34.4%;
    }

    .cube-item.cube-item-6 {
        width: 11.8rem;
        height: 9.8rem;
        bottom: 36.4%;
        left: 42.4%;
    }

    .cube-last-text {
        position: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        position: relative;
        background: none;
    }

    .cube-last-text > img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24rem;
        height: 26.6rem;
        transform: translate(-50%, -50%);
    }

    .cube-last-text ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 1;
        gap: 1.37rem;
        padding: 17.8rem 0;
        background: rgba(0, 0, 0, 0.8);
    }

    .cube-last-text ul li {
        gap: 0.7rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: var(--letter-spacing-base);
    }

    .cube-last-text ul li img {
        width: 23.1rem;
        height: 4.4rem;
        margin-top: -1rem;
    }

    .cube-last-text ul li span {
        font-size: 3.48rem;
        font-weight: 600;
        line-height: 1;
        letter-spacing: var(--letter-spacing-md);
    }

    /* KData Section */
    .kdata-section {
        padding: 5rem 0;
    }

    .kdata-section .kdata-inner {
        gap: 3.2rem;
        flex-direction: column-reverse;
    }

    .kdata-section .kdata-title {
        font-size: 2rem;
        font-weight: 600;
        line-height: var(--line-height-150);
        letter-spacing: var(--letter-spacing-base);
        gap: 0;
    }

    .kdata-title strong {
        display: contents;
        font-weight: 600;
    }

    .kdata-icon-group {
        gap: 3.6rem;
    }

    .kdata-icon-group img {
        height: 4.8rem;
    }

    .kdata-icons-row:before,
    .kdata-icons-row:after {
        width: 4rem;
        height: 10.3rem;
        margin-top: -3rem;
    }

    /* KQuality Section */
    .kquality-section {
        padding: 13.2rem 2rem 10rem;
    }

    .kquality-section .kquality-inner {
        max-width: none;
    }

    .kquality-section .kquality-hex-wrap {
        margin-bottom: 8rem;
    }

    .kquality-section .kquality-bottom {
        margin-top: 0;
    }

    .kquality-section .kquality-hex {
        width: 24rem;
        height: auto;
    }

    .kquality-section .kquality-hex-center {
        position: unset;
        transform: none;
        width: 24rem;
        height: 23.3rem;
        padding: 1.2rem 0 0;
        margin: 0 auto;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: var(--letter-spacing-md);
        background: url(/resource/images/ai/mo-k-quality-frame.svg) no-repeat center / 100% 100%;
    }

    .kquality-section .kquality-hex-label {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: center;
    }

    .kquality-section .kquality-hex-desc {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: var(--line-height-152);
        text-align: left;
    }

    .kquality-section .kquality-hex-item-1 {
        margin: 0;
        left: 22%;
        top: -8%;
        padding: 1rem 1.4rem;
    }

    .kquality-section .kquality-hex-item-2 {
        right: -22%;
        top: 27%;
        padding: 0.8rem 2.4rem;
    }

    .kquality-section .kquality-hex-item-3 {
        right: -17%;
        bottom: -11%;
        padding: 1.2rem 1.6rem;
    }

    .kquality-section .kquality-hex-item-4 {
        left: -6%;
        bottom: -11%;
        padding: 1.2rem 1.6rem;
    }

    .kquality-section .kquality-hex-item-5 {
        left: -21%;
        top: 27%;
        padding: 0.8rem 1.15rem;
    }

    .kquality-list {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 5rem;
        padding: 0 4rem;
        margin-bottom: 5rem;
    }

    .kquality-list-item {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        flex: unset;
    }

    .kquality-list-item * {
        text-align: center;
    }

    .kquality-list-item h3 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: var(--letter-spacing-base);
    }

    .kquality-list-item p {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.52;
        letter-spacing: normal;
    }

    .kquality-section .kquality-bottom,
    .kquality-section .kquality-bottom span {
        font-size: 2rem;
        font-weight: 600;
        line-height: var(--line-height-150);
        letter-spacing: var(--letter-spacing-base);
        text-align: center;
    }

    .kquality-section .kquality-bottom span {
        display: contents;
    }

    .eco-section {
        padding: 10rem 2rem 0rem;
    }

    .eco-section .eco-top {
        margin: 4rem 0 0;
        padding: 0 0 5rem;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        background: url(/resource/images/ai/k-eco/mo-k-eco-top-bg.png) no-repeat center center / cover;
    }

    .eco-section .eco-title {
        width: 100%;
        padding: 3.2rem 0 0 3.2rem;
        font-size: 2rem;
        line-height: 1.56;
        letter-spacing: var(--letter-spacing-base);
        /* text-align: center; */
    }

    .eco-section .eco-title span {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.56;
        margin-top: 0.8rem;
        /* text-align: center; */
    }

    .eco-section .eco-partners {
        flex-direction: column;
        width: 100%;
        padding: 0 4rem;
    }

    .eco-partner-card {
        width: 100%;
        min-height: 23.4rem;
        height: 100%;
    }

    .eco-partner-card:nth-child(1) {
        gap: 2.8rem;
    }

    .eco-partner-card:nth-child(1) img {
        max-width: none;
        max-height: none;
        width: 13.65rem;
        height: auto;
    }

    .eco-partner-desc p {
        color: var(--black-color);
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: normal;
    }

    .eco-partner-desc {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: normal;
    }

    .eco-partner-card:nth-child(2),
    .eco-partner-card:nth-child(3) {
        gap: 2rem;
    }

    .eco-partner-card:nth-child(3) {
        padding: 3.7rem 1.5rem;
    }

    .eco-partner-logos {
        gap: 1.6rem;
    }

    .eco-partner-card:nth-child(2) img:nth-child(1) {
        max-width: none;
        max-height: none;
        width: 14.4rem;
        height: auto;
    }

    .eco-partner-card:nth-child(2) img:nth-child(2) {
        max-width: none;
        max-height: none;
        width: 9.2rem;
        height: auto;
    }

    .eco-partner-card:nth-child(2) .eco-partner-desc p,
    .eco-partner-card:nth-child(3) .eco-partner-desc p {
        color: var(--gray-900-color);
        font-weight: 600;
        line-height: 1.56;
    }

    .eco-partner-card:nth-child(3) img:nth-child(1) {
        max-width: none;
        max-height: none;
        width: 13.1rem;
        height: auto;
    }

    .eco-partner-card:nth-child(3) img:nth-child(2) {
        max-width: none;
        max-height: none;
        width: 8.7rem;
        height: auto;
    }

    .eco-partner-card:nth-child(3) img:nth-child(3) {
        width: 11.2rem;
    }

    .eco-partner-card:nth-child(3) .eco-partner-logos {
        margin-top: 0;
    }

    .eco-section .eco-bottom {
        flex-direction: column;
    }

    .eco-section .eco-bottom .eco-bottom-card {
        min-height: 36.5rem;
        padding: 3.2rem 0 5rem;
        align-items: center;
        flex: unset;
    }

    .eco-section .eco-bottom .eco-bottom-card:last-child {
        min-height: auto;
        padding-bottom: 8rem;
    }

    .eco-section .eco-bottom .eco-bottom-card:nth-child(1) {
        background: url(/resource/images/ai/k-eco/mo-k-eco-bottom-bg-1.png) no-repeat center center / cover;
    }

    .eco-section .eco-bottom .eco-bottom-card:nth-child(2) {
        background: url(/resource/images/ai/k-eco/mo-k-eco-bottom-bg-2.png) no-repeat center center / cover;
    }

    .eco-section .eco-bottom .eco-bottom-card:nth-child(3) {
        background: url(/resource/images/ai/k-eco/mo-k-eco-bottom-bg-3.png) no-repeat center center / cover;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-title {
        width: 100%;
        padding: 0 0 0 3.2rem;
        font-size: 2rem;
        line-height: 1.5;
        margin-bottom: 0.8rem;
        letter-spacing: var(--letter-spacing-base);
        text-align: left;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-desc {
        width: 100%;
        padding: 0 0 0 3.2rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.56;
        text-align: left;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges {
        margin-top: 6rem;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges .eco-badge {
        width: 11rem;
        height: 11rem;
        gap: 0.7rem;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.research-badges .eco-badge:first-child {
        width: 100%;
        background: none;
        border: 0;
        backdrop-filter: none;
        box-shadow: none;
        padding: 0;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.research-badges .eco-badge .eco-badge-inner {
        width: 11rem;
        height: 11rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 6.6px 13.2px 26.4px 0px rgba(0, 0, 0, 0.1);
        border-radius: 1.125rem;
        backdrop-filter: blur(27.5px);
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.research-badges,
    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.innovation-badges {
        margin-top: 4rem;
        gap: 0.8rem;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.research-badges .eco-badge {
        padding-bottom: 1rem;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.research-badges .eco-badge:nth-child(1) img {
        width: 5.6rem;
        height: auto;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.research-badges .eco-badge:nth-child(2) img {
        width: 4.9rem;
        height: auto;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.research-badges .eco-badge:nth-child(3) img {
        width: 4.9rem;
        height: auto;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.research-badges .eco-badge:nth-child(4) img {
        width: 4.78rem;
        height: 4.78rem;
    }

    .research-badges .eco-badge span,
    .innovation-badges .eco-badge span {
        color: var(--gray-900-color);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: normal;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.innovation-badges {
        display: block;
        text-align: center;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.innovation-badges .eco-badge {
        justify-content: flex-end;
        padding-bottom: 1.6rem;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.innovation-badges .eco-badge:nth-child(1) {
        gap: 1.5rem;
        width: 22.7rem;
        margin: 0 auto 0.8rem;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.innovation-badges .eco-badge:nth-child(1) img {
        width: 3.7rem;
        height: auto;
        margin: 0;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.innovation-badges .eco-badge:nth-child(2) {
        display: inline-flex;
        gap: 2.3rem;
        margin-right: 0.8rem;
        vertical-align: top;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.innovation-badges .eco-badge:nth-child(2) img {
        width: 7.3rem;
        height: auto;
        margin: 0;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.innovation-badges .eco-badge:nth-child(3) {
        display: inline-flex;
        gap: 1.3rem;
        vertical-align: top;
    }

    .eco-section .eco-bottom .eco-bottom-card .eco-bottom-badges.innovation-badges .eco-badge:nth-child(3) img {
        width: 3.4rem;
        height: auto;
    }

    .eco-bottom-card ul {
        margin-top: 6rem;
    }

    .eco-bottom-card ul li img {
        height: 2.95rem;
    }

    .usecase-section {
        padding: 0 0 0rem;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .usecase-section .custom-slider {
        display: none;
    }

    .usecase-section .usecase-swiper {
        display: flex;
        padding: 2.4rem 2rem;
        width: 100%;
    }

    .usecase-swiper .swiper-slide {
        flex: 1 0 86%;
        max-width: unset;
    }

    .usecase-swiper .swiper-slide > a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .usecase-swiper .img {
        border-radius: 1.25rem;
        background: var(--white-color);
        overflow: hidden;
    }

    .usecase-swiper .img img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .usecase-swiper .usecase-content {
        padding-top: 1.6rem;
    }

    .usecase-swiper .usecase-name {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: var(--letter-spacing-base);
        margin: 0;
    }

    .usecase-swiper .usecase-desc {
        margin: 0.8rem 0 1.6rem;
        font-size: 1.6rem;
        line-height: 168%;
        letter-spacing: 0;
        -webkit-line-clamp: 1;
    }

    .usecase-swiper .usecase-labels {
        display: flex;
        flex-wrap: wrap;
        gap: 0.6rem 0.4rem;
    }

    .usecase-swiper .usecase-label {
        font-size: 1.3rem;
        font-weight: 400;
        color: var(--gray-900-color);
        border-radius: 12rem;
        padding: 0.5rem 1rem;
        border: 1px solid var(--gray-300-color);
    }

    .usecase-swiper .usecase-label.gray {
        border: 0;
        background-color: #e8e8e8;
        font-weight: 400;
        line-height: 1.4;
    }

    .usecase-swiper .swiper-pagination {
        margin-top: 2.4rem;
        text-align: center;
        position: static;
    }

    .usecase-swiper .swiper-pagination-bullet {
        width: 0.8rem;
        height: 0.8rem;
        background: #e0e0e0;
        opacity: 1;
        margin: 0 0.4rem;
        border-radius: 50%;
        transition: background 0.2s;
    }

    .usecase-swiper .swiper-pagination-bullet-active {
        background: #222;
    }

    .usecase-section .usecase-btn {
        margin-top: 4.8rem;
    }

    .news-section {
        padding: 0 2rem;
        padding-top: 10rem;
    }

    .news-inner {
        max-width: unset;
    }

    .news-list {
        margin: 0;
        gap: 3.2rem;
    }

    .news-list li:first-child .news-content {
        padding-top: 3.2rem;
        border-top: 1px solid var(--gray-200-color);
    }

    .news-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
    }

    .news-title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.56;
        letter-spacing: var(--letter-spacing-base);
        text-align: left;
    }

    .hasNew .news-content {
        padding-top: 6.6rem !important;
    }
    .hasNew + .hasNew .news-content {
        padding-top: 3.4rem !important;
    }

    .hasNew .news-title:after {
        display: block;
        content: '';
        width: 4rem;
        height: 2.2rem;
        margin-left: 0;
        position: absolute;
        left: 0rem;
        top: -3.4rem;
        background-image: url('/resource/images/ai/icons/new-mark.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .news-meta {
        font-size: 1.4rem;
        line-height: 1.3;
    }

    .news-inner .btn {
        margin-top: 1rem;
    }

    .usecase-inner {
        padding-top: 10rem;
    }

    @media (max-width: 356px) {
        .kquality-section .kquality-hex-center {
            width: 22rem;
        }

        .kquality-section .kquality-hex-item-2 {
            right: -16%;
        }

        .kquality-section .kquality-hex-item-5 {
            left: -15%;
        }

        .kquality-section .kquality-hex-item-4 {
            left: -4%;
            bottom: -5%;
        }

        .kquality-section .kquality-hex-item-3 {
            right: -12%;
            bottom: -5%;
        }
    }
}
